* {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
    margin: 0px;
}

.logo {
    text-align: center;
    align-content: center;

    
}



.body   {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.body-texto {
    width: 300px;
}

.body-gráficos {
    width: 300px;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
}


.img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    gap: 1px;
}

.footer {
    height: 30px;
    background-color: gray;
   
}
